@import './sass/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

html, body{
    min-height: 100%;
    width: 100%;
    background-color: $primary-color;
    font-family: $primary-font;
    color: $font-color;
    overscroll-behavior: none;
    overflow-x: hidden;
}

#root{
    min-height: 100%;
}

.app{
    min-height: 100vh;

    .app-main{
        padding-top: 82px;
    }

    .link{
        text-decoration: none;
        color: inherit;
    }
}

.app.home-layout{
    .app-main{
        padding-top: 0;
    }
}
