// - Color Palette
$primary-color: #DCDBD8; // font color (Timberwolf)
$font-color: #201F1D; // primary color (Eerie black)
$icon-color: #676767; // primary color (Dim gray)
$pop-color: #A84E32; // success color (Orange Pantone)
$error-color:#c72121;


// - Fonts
@font-face {
    font-family: 'Montreal', sans-serif;
    src: url(../fonts/OTF/PPNeueMontreal-Book.otf) type-of($value: opentype);
}

$primary-font: 'Montreal', sans-serif;