.featuredProducts{
    margin: 100px 50px;
    text-transform: uppercase;

    .top{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        h1{
            flex: 2;
            font-size: 50px;
            font-weight: 500;
        }

        p{
            flex: 3;
            font-size: 14px;
        }
    }
}

.bottom{
    display: flex;
    justify-content: center;

    .card-container{
        display: flex;
        overflow-x: auto;
        gap: 50px;
        scrollbar-width: none; /* Hide scrollbar in Firefox */
        -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */

        &::-webkit-scrollbar {
                display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
            }
    }

}